*{margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;}
     
    #contenedor{width:1500px;
      height:1910px;
      background-color:  rgb(251, 170, 56);
  margin: 0 auto;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

    .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: blueviolet;
      padding: 10px 20px;
  }
  .logo img{
  height: 70px;
  padding: 0 0 0 50px;
  }
  
  #menu nav ul{
      list-style-type: none;
      display: flex;
      justify-content: right;
  }
  
  #menu nav ul li a{ 
      text-decoration: none;
      margin-right: 40px;
      color: white;
      padding: 20px; 
      font-size: 25px;
  }
  
  #menu nav ul li a:hover{
   color :rgb(221, 162, 230);
    border-radius: 4px;   
  }
  #banner{width:1500px;
    height:200px;
    background-color: rgb(253, 204, 204);}
    #hi{
        font-size: 100px;
        text-align: center;
        padding: 80px;
    }
    #testimonio{
        background-color:rgb(253, 204, 204);
        width: 1500px;
        height: 120px;
        text-align: center;
padding: 30px 0 0 0;

    }
    #pa{
        text-align: center;
    font-size: 30px;
    }
    h1{
        font-size: 65px;
    }

    #toby{
        background-color: blueviolet;
        width: 1400px;
        height: 210px;
        margin: 0 auto;
        display: flex;
       
    }
    #tobise{
        background-color: rgb(253, 204, 204);
        width: 1500px;
        height: 400px;
        padding-top: 50px;
   
    }
    #imagentoby{
        background-color: rgb(251, 172, 62);
        width: 1000px;
        width: 400px;
        height: 400px;

    }
    #textotoby{
        background-color: rgb(251, 172, 62);
        width: 1000px;
        height: 400px;
        display: flex;
      float: left;
    }
    #toby2{
        background-color: rgb(91, 63, 118);
        width: 1000px;
        height: 400px;
    
    }
    #espacio{
        width: 1500px;
        height:80px;
        background-color:  rgb(253, 204, 204);}
    .pt{
        font-size: 40px;
        text-align: center;
        padding:110px 10px;
        text-justify: auto;
    }
    #footer{width:1200px;
        padding: 0 0 0 300px;
        height:280px;
        background-color:   blueviolet;
        clear: both;
        text-align: center;}
    
    #logob{width: 400px;
        height:150px;
        float: left;
        margin: 60px 25px 0 0;
      }
    
    #contacto{width: 400px;
        height:150px;
        float: left; 
         margin: 40px 20px 0 0;
      }
      .h2l{
        color: aliceblue;
        font-size: 20px;
      }
    .h21{
        color: aliceblue;
    }
    